main {
	padding-top    : 20px;
	position       : relative;
	display        : flex;
	flex-direction : column;
	justify-content: center;
}

.main-content,
.footer{
	display: flex;
	justify-content: center;
}

.main-content .fixbox,
.footer .fixbox{
	display: flex;
	flex-direction : row;
	justify-content: space-between;
}

.main-left {
	background-color: #ffffff;
	width           : 250px;
	margin-bottom   : 20px;
	position        : relative;
}


.block-article {
	position: relative;
	margin  : 0 20px 25px 20px;
}

h3 {
	overflow  : hidden;
	max-height: 3.5em;
}

.block-article a {
	font-size      : 0.875rem;
	color          : #000;
	font-weight    : normal;
	text-decoration: none;
}

.all-news-button {
	text-align   : center;
	border-radius: 23px;
	border       : 1px solid #448ccb;
	background   : #fff;
	padding      : 1em 45px;
	width        : 100%;
	margin       : 0 auto 25px;
	clear        : both;
}

.all-news-button a {
	font-size      : 0.875rem;
	color          : #448ccb;
	text-decoration: none;
}

.main-props {
	margin-top: 15px;
	font-size : .75rem;
	position  : relative;
}

.main-props a {
	text-decoration: none;
	font-size      : .75rem !important;
	color          : #91919f !important;
}

.main-props-time {
	position           : absolute;
	top                : 0;
	right              : 65px;
	padding-left       : 1em;
	background-image   : url('img/icon-time.png');
	background-repeat  : no-repeat;
	background-position: left;
}

.main-props-comments {
	position           : absolute;
	top                : 0;
	right              : 15px;
	padding-left       : 1em;
	background-image   : url('img/icon-comments.png');
	background-repeat  : no-repeat;
	background-position: left;
}

.main-content {
	display       : flex;
	flex-direction: row;
}

.main-center {
	width   : 460px;
	position: relative;
}

.second-news-block {
	display        : flex;
	flex-direction : row;
	justify-content: space-between;
	flex-wrap      : wrap;
}

.main-center a {
	text-decoration: none;
	color          : black;
}

.homepage-news {
	position: relative;
}

.homepage-news-item {
	width   : calc(50% - 10px);
	margin  : 20px 0;
	position: relative;
}

.homepage-news-item h3 {
	font-size : 0.875rem;
	max-height: 3.5em;
	overflow  : hidden;
}

.homepage-news-item img {
	overflow: hidden;
	width   : 100%;
}

.second-block-props {
	position  : relative;
	margin-top: 15px;
	font-size : 0.75rem;
}

.second-block-props a {
	color: #91919f;
}

.text-on-photo {
	color    : white;
	position : absolute;
	top      : 110px;
	font-size: 0.75rem;
	left     : 20px;

}

.text-on-photo a {
	display        : flex;
	color          : white;
	text-decoration: none;
	font-size      : 0.75rem;
}

.text-on-photo a:nth-child(2) {
	margin-top : 20px;
	font-size  : 1.875rem;
	font-weight: bold;
	overflow   : hidden;
	max-height : 3.5em;
}

.news-props {
	margin-top: 25px;
	color     : white;
}

.mainpage-news-time {
	margin-left        : 35px;
	padding-left       : 15px;
	background-image   : url('img/clock.png');
	background-position: left;
	background-repeat  : no-repeat;
}

.footer {
	background-color: white;
	position        : relative;
	display         : flex;
	flex-direction  : row;
	margin-bottom   : 60px;
}

.footer-important-news {
	position: relative;
}

.footer-important-news:before {
	content   : '';
	position  : absolute;
	top       : 0;
	left      : 0;
	right     : -1px;
	bottom    : 4px;
	background: rgba(0, 0, 0, 0.4);
	z-index   : 0;
}

.homepage-news:before {
	content   : '';
	position  : absolute;
	top       : 0;
	left      : 0;
	right     : -1px;
	bottom    : 4px;
	background: rgba(0, 0, 0, 0.4);
	z-index   : 0;
}

.footer-important-comment {
	margin-top  : 30px;
	margin-right: 60px;
	overflow    : hidden;
	max-height  : 3.5em;
	font-size   : .875rem;
	color       : #cccbcb;
}

.most-popular-news {
	position: relative;
}

.popular-news-block a {
	font-size      : 1rem;
	font-weight    : bold;
	text-decoration: none;
	color          : #000;
}

.popular-news-block {
	margin: 25px 15px 20px 15px;
}

.popular-news-props a {
	font-size  : .75rem;
	font-weight: normal;
	color      : #91919f;
}

.popular-news-props {
	margin-top: 15px;
	position  : relative;
	font-size : 0.75rem;
}

.popular-props-time {
	position           : absolute;
	top                : 0;
	left               : 100px;
	padding-left       : 15px;
	background-image   : url('img/icon-time.png');
	background-repeat  : no-repeat;
	background-position: left;
}

.popular-props-comments {
	position           : absolute;
	top                : 0;
	left               : 165px;
	padding-left       : 15px;
	background-image   : url('img/icon-comments.png');
	background-repeat  : no-repeat;
	background-position: left;
}